# vim
.VimballRecord
*.swp
*.swo
*~
.netrwhist
*#
vim/bundle/*
vim/plugin/eclim.vim
vim/eclim

# version control
*.hg
.svn

# emacs
/emacs/elpa
/emacs/eshell
/emacs/ac-comphist.dat
/emacs/evil-paredit
/emacs/url

# local files
bash/local
vim/local.vim
/mutt/localrc

# misc
.DS_Store
caches
*.pyc
*offlineimap*
*.o
*.hi
*.errors
*i386-darwin

