# vim
.VimballRecord
*.swp
*.swo
*~
.netrwhist
*#
/vim/bundle/*
/vim/local*

# local files
/mutt/local*
/sh/local*
/fish/local*

# version control
*.hg
.svn

# emacs
*.elc
/emacs.d/elpa
/emacs.d/eshell
/emacs.d/ac-comphist.dat
/emacs.d/url
/emacs.d/projectile-bookmarks.eld
/emacs.d/projectile.cache
/emacs.d/local*.el

# tmux
/tmux/local.conf

# misc
.DS_Store
caches
*.pyc
*offlineimap*
*.o
*.hi
*.errors
*i386-darwin
