'atom-text-editor.vim-mode.normal-mode':
  'ctrl-d': 'vim-mode:scroll-half-screen-down'

'atom-text-editor.vim-mode:not(.normal-mode)':
  'j k': 'vim-mode:activate-normal-mode'

'atom-text-editor:not([mini])':
  'ctrl-e': 'emmet:expand-abbreviation'

'.platform-darwin atom-text-editor:not([mini])':
  'shift-cmd-J': 'emmet:split-join-tag'
