'atom-text-editor.vim-mode.normal-mode':
  'ctrl-d': 'vim-mode:scroll-half-screen-down'

'atom-text-editor:not([mini])':
  'ctrl-e': 'emmet:expand-abbreviation'

'.platform-darwin atom-text-editor:not([mini])':
  'shift-cmd-J': 'emmet:split-join-tag'

'atom-text-editor':
  'cmd-shift-b' : 'user:close-non-editor-panes'
  'cmd-shift-left': 'user:move-to-left-pane'
  'cmd-shift-right': 'user:move-to-right-pane'
