'atom-text-editor.vim-mode.normal-mode':
  'ctrl-d': 'vim-mode:scroll-half-screen-down'

'atom-text-editor.vim-mode.insert-mode':
  'k': 'exit-insert-mode-if-preceded-by-j'

'atom-text-editor:not([mini])':
  'ctrl-e': 'emmet:expand-abbreviation'

'.platform-darwin atom-text-editor:not([mini])':
  'shift-cmd-J': 'emmet:split-join-tag'
